/* 스타일 수정 아이콘과 삭제 아이콘 */
.commentContainer {
    display: flex;
 flex-direction: column;
} 

.commentBtn {
    background: none;
    border: none;
    cursor: pointer;
} 

/* 댓글 스타일 */
ul {
    list-style: none;
}

li {
    margin: 3px;
    display: flex;
    align-items: center;
}

.commentUser {
    width: 100px;
    margin-right: 20px;
}

.commentList {
    margin-left: 0;
}

.commentText {
    width: 350px;
}

/* 댓글 추가 버튼 스타일 */
.addBtn {
    background-color: #d9f2d8;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-top: 5px;
    width: 100px;
    height: 30px;
}

.commentInput {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 400px;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
} 

.commentInput:focus {
    outline: none;
}

.addComment {
    display: flex;
}

.userName {
    padding-top: 10px;
    width: 120px;
}

::placeholder {
    font-size: 15px;
}


