/* 모달 창 전체 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 컨테이너 */
.modal_content {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 50%;
  max-height: 90%;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top:35px;
  border-radius: 20px;
  flex-direction: column;
}

/* 텍스트를 입력하는 폼(오른쪽 부분) */
.form_container {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
}

/* 이미지를 업로드하는 부분 전체 */
.image_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* 텍스트 폼을 감싸고 있는 전체 부분 */
.text_section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px; /* margin-left는 주석 처리 혹은 삭제합니다. */
}


/* 닫기 버튼 */
.close_button {
  position: absolute;
  top: 3rem;
  right: 22rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: black;
}

/* 게시하기 제출 버튼 */
.submit_button {
  position: absolute;
  font-size: 0.9rem;
  font-weight: 500;
  bottom: 3rem;
  right: 23rem;
  padding: 8px;
  height: 40px;
  width: 90px;
  background-color: #d9f2d8;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

/* 업로드하는 사진자체 */
.image {
  width: 100%;
  height: 100%;
}

/* 이미지 업로드 전체 div */
.image_upload_label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.delete_button {
    position: absolute;
    top: 8px;
    right: 5px;
    background-color: transparent;
    border: none;
    padding: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
    z-index: 1;
}
  
.image_upload_label .image_placeholder {
    position: relative;
    color: #a7a7a7;
    opacity: 1;
    font-size: 1rem;
    text-align: center;
}
  
.image_upload_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); /* Overlay 배경색 및 투명도 조절 */
    color: #fff; /* 텍스트 색상 */
    font-size: 1rem; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 굵기 */
    cursor: pointer;
    opacity: 0; /* 처음에는 투명하게 설정 */
    transition: opacity 0.3s ease-in-out; /* 부드러운 페이드 인/아웃 효과 */
}
  
.image_upload_label:hover .image_upload_overlay {
    opacity: 1; /* hover 시 투명도 증가하여 나타나게 함 */
}

/* 이미지 업로드하기 전 회색 상자 부분 */
.image_placeholder {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* 파일 선택 */
.image_input {
  display: none;
}

  
/* 유저 네임 */
.user_name {
  margin-left: 10px;
}

/* 사진속 장소는 어디인가요? */
.input_place {
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    border: none; /* 기본 테두리 제거 */
    border-bottom: 1px solid black; /* 원하는 선 스타일 설정 */
    margin-bottom: 10px; /* 아래 여백 설정 */
  
  }

/* 얼마나 멋진 장소인지 설명해주세요 */
.input_description {
  height: 30px;
  width: 100%;
  margin-top: 60px;
  outline: none;
  border: none;
  font-size: 1rem;
  border: none; /* 기본 테두리 제거 */
    border-bottom: 1px solid black; /* 원하는 선 스타일 설정 */
    margin-bottom: 10px;
}

/* 장소설명 아래 선 */
.hr_description {
  color: black;
}

/* 주소 입력 폼 */
.address_form {
  margin-top: 50px;
}

/* 해시태그 설정 */
.tag_container {
  /* margin: 8rem auto; */
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 330px;
  padding: 0 8px;
  border: 1px solid rgb(1, 186, 138);
  border-radius: 6px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(1, 186, 138);
  padding: 0 8px;
  font-size: 1rem;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: rgb(242, 243, 244);
  border-radius: 15px;
}

.tag_close_icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 1rem;
  margin-left: 8px;
  color: rgb(1, 186, 138);
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.tag_input {
  flex: 1;
  outline: none;
  border: none;
  height: 46px;
  font-size: 0.7rem;
}

::placeholder {
  color: #a7a7a7;
  opacity: 1;
  font-size: 1rem;
}

.tag_input::placeholder {
  font-size: 0.8rem;
}

.box {
  margin-top: 1rem;
}

/* CSS 파일 또는 스타일 컴포넌트에 추가 */
.checkbox {
  display: flex;
  align-items: center;
  font-size: 1rem; /* 텍스트 크기 조절 */
  margin-top: 0.8rem;
}

.checkbox input[type="checkbox"] {
  width: 1rem; /* 체크박스의 가로 크기 조절 */
  height: 0.8rem; /* 체크박스의 세로 크기 조절 */
  margin-right: 8px; /* 체크박스와 텍스트 사이 여백 조절 */
}

.checkbox input[type="checkbox"]:checked {
  /* 체크박스의 체크 마크 색상 변경 */
  background-color: #d9f2d8;
  /* 다른 스타일 속성들 */
}

.tag_title {
  font-size: 0.7rem;
  font-weight: 600;
}

  
  
  
  