.userinfo_container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    column-gap: 24px;
    grid-column: span 12;
    grid-template-columns: repeat(12,1fr);
}

.img_container {
    display: flex;
    grid-column: span 4;
}

.user_img {
    margin-left: auto;
    margin-right: 32px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.info_container {
    /* display: flex;
    flex-direction: column; */
    grid-column: span 8;
}

.introduction_container {
    display: flex;
    margin-top: 10px;
}

.name_container{
    display: flex;
    align-items: center;
}

.editbtn {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.p_email {
    margin-top: 3px;
    margin-bottom: 0;
    color: gray;
}

.p_introduction {
    margin: 0;
}

button {
    border: none;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.margin_left {
    display: flex;
    margin-left: 20px;
}

.introduction_input {
    width: 700px;
    height: 100px;
}

.button_wh {
    width: 40px;
    height: 20px;
}

.button_wh_container {
    width: 150px;
}