body,
html {
  height: 100%;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  position: relative;
 } 

.loginpage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainlogo {
  margin-bottom: 17px;
  width: 73px;
}

.mainlogo:hover {
  cursor: pointer;
}

.signupmsg {
  text-decoration: underline;
  color: #4bb6e4;
  font-weight: 600;
  margin-left: 5px;
}

.signupmsg:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.guidemsg {
  margin-top: 17px;
}
