body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.Signup-Wrapper {
    text-align: center;
}

.mainlogo {
  margin-bottom: 17px;
}

.mainlogo:hover {
  cursor: pointer;
}

.Signup-Box {
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.Category-Text {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 24px;
}
  
.Username-Wrapper {
    text-align: left;
    margin-top: 10px;
}

.Email-Wrapper {
    text-align: left;
    margin-top: 10px;
}
  
.Password-Wrapper {
    text-align: left;
    margin-top: 10px;
}

.Nick-Wrapper {
    text-align: left;
    margin-top: 10px;
}

.Phone-Wrapper {
    text-align: left;
    margin-top: 10px;
}

.Signup-Title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Gender-Wrapper {
    text-align: left;
    margin-top: 10px;
    width:75%
}

.Btn-Wrapper {
    text-align: center;
    margin-top: 30px;
    width:75%
}

.Gender-Group {
    display: flex;
}

.Gender-Label {
    margin-top:5px;
    margin-left: 20px;
    margin-right: 30px; 
}

.Gender-Label:last-child {
    margin-right: 0; 
}

.Username-Input {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    width: 230px;
    height: 3vh;
    margin-top : 0px;
}

.Email-Input {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    width: 230px;
    height: 3vh;
    margin-top : 0px;
}

.Password-Input {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    width: 230px;
    height: 3vh;
    margin-top : 0px;
}

.Phone-Input {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    width: 230px;
    height: 3vh;
    margin-top : 0px;
}

.Nick-Input {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    width: 230px;
    height: 3vh;
    margin-top : 0px;
}

.Gender-Label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
  }
  
.Gender-Label input[type="radio"]:checked + span {
    background-color: #0a95ff;
    border-color: #0a95ff;
}

.Btn-Submit {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    width: 300px;
    height: 4.5vh;
    color: white;
    background-color: #0a95ff;
    font: Inter;
    text-align: center;
    line-height: 34px;
    margin-bottom: 15px;
}
  
.Btn-Submit:hover {
    cursor: pointer;
    filter: brightness(0.9);
}
  
.warn {
    display: flex;
    flex-direction: flex-start;
}
  
.warningmsg {
    display: block;
    color: red;
    margin-top: 3px;
    font-size: 13px;
}
  
.show {
    display: block;
}
  
.invalid {
    border: 2px solid red;
}
  