/* 모달 창 전체 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 모달 컨테이너 */
  .modal_content {
    display: flex;
    overflow-y: auto;
    width: 80%;
    height: fit-content;
    padding-bottom: 1rem;
    max-width: 35%;
    max-height: 90%;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    flex-direction: column;
  }

  .postContainer {
    position: relative;
    margin-left: 30px;
    margin-top: 10px;
  }
  .image_wrap{
    display: flex;
    justify-content: center;

    margin-top: 1rem;
    width: 100%;
  }

  .image_wrap .inner {
    width: 70%;
  }

  .image {
    width: 100%;

  }

  .profileImage {
    width: 30px;
    height: 30px;
  }

  .postTitle {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .tags {
    margin-top: 0.5rem;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: #369bbc;
  }

  .postAddress {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
    color: #392f31;
  }

  .createdAt {
    font-size: 0.5rem;
    color: gray;
    margin-bottom: 0.5rem;
  }

  .username {
    margin-left: 20px;
    margin-bottom: 0.5rem;
    width: 150px;
    height: 20px;
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }

  .userInfo {
    display: flex;
  }

  .postCaption {
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
  }

.profileIcon {
  margin-bottom: 10px;
}

/* 닫기 버튼 */
.close_button {
  position: absolute;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  top: 0.5rem;
  right: 0rem;
  color: black;
}

/* 수정 버튼 스타일 */
.edit_button {
  position: absolute;
 top: 3rem;
 right: 1rem;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 8px;
  height: 2rem;
  width: 5rem;
  background-color: #d9f2d8;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.edit_button:hover{
  color: #378659;
  font-weight: 700;
}

/* 삭제 버튼 스타일 */
.delete_button {
  position: absolute;
  top: 6rem;
  right: 1rem;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 8px;
  height: 2rem;
  width: 5rem;
  background-color: #d9f2d8;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.delete_button:hover{
  color: #378659;
  font-weight: 700;
}

@media (max-width: 500px) {
  /* 화면 너비가 768px 이하일 때 버튼 위치 조정 */
  .edit_button {
    left: 40rem;
  }
  .delete_button {
    right: 10px;
  }
}

.complete_button {
  position: absolute;
  top: 30.5rem;
  right: 0rem;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 3px;
  height: 2rem;
  width: 4rem;
  background-color: #E2E2E2;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.complete_button:hover {
  color: gray;
}
