/* 모달 창 전체 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 모달 컨테이너 */
  .modal_content {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 760px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    flex-direction: column;
  }

  .postContainer {
    margin-left: 30px;
    margin-top: 10px;
  }


  .image {
    max-width: 60%; /* 이미지 최대 너비 */
    height: 40%; /* 자동 높이 조정 */
  }

  .profileImage {
    width: 30px;
    height: 30px;
  }

  .tags {
    margin-top: 0;
  }

  .username {
    margin-left: 20px;
    width: 150px;
    height: 20px;
  }

  .userInfo {
    display: flex;
  }

  /* 수정 버튼 스타일 */
.edit_button {
  position: relative;
  left: 110px;
  bottom: 150px;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px;
  height: 40px;
  width: 90px;
  background-color: #d9f2d8;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

/* 삭제 버튼 스타일 */
.delete_button {
  position: relative;
  left: 20px;
  bottom: 200px;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px;
  height: 40px;
  width: 90px;
  background-color: #d9f2d8;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}


/* 닫기 버튼 */
.close_button {
  position: relative;
  left: 550px;
  bottom: 350px;
  height: 30px;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: black;
}

.profileIcon {
  padding-top: 10px;
}