.social {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  width: 314px;
  height: 52px;
  text-align: center;
  font: Inter;
  line-height: 29.05px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}

.logo {
  vertical-align: middle;
  width: 31px;
  height: 31px;
  margin-right: 10px;
}

.google {
  background-color: white;
}

.googlecontents {
  margin-right: 15px;
  display: flex;
  line-height: 52px;
  align-items: center;
}

.github {
  color: white;
  background-color: #2f3337;
}

.githubcontents {
  margin-right: 15px;
  display: flex;
  line-height: 52px;
  align-items: center;
}

.facebook {
  color: white;
  background-color: #385499;
}

.facebookcontents {
  margin-right: 15px;
  display: flex;
  line-height: 52px;
  align-items: center;
}

.facebook:hover,
.github:hover,
.google:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
